html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Index.cshtml*/
.teacher-selection {
    position: absolute;
    top: 20%;
    right: 45%;
}

.student-selection {
    position: absolute;
    top: 30%;
    right: 45%;
}

/*TeacherMenu.cshtml*/
.teacher-to-main-menu {
    position: absolute;
    top: 80%;
    right: 45%;
}

.teacher-to-testtemplatelist {
    position: absolute;
    top: 30%;
    right: 60%;
}

.teacher-to-managesolvedtestlist {
    position: absolute;
    top: 30%;
    right: 40%;
}

/*StudentMenu.cshtml*/
.student-to-index {
    position: absolute;
    top: 80%;
    right: 45%;
}

/*TestTemplateList.cshtml*/
.testtemplatelist-to-teachermenu {
    position: absolute;
    top: 80%;
    right: 45%;
}

.testtemplatelist-table {
    position: absolute;
    top: 30%;
    right: 45%;
}

/*TestTemplate.cshtml*/
.testtemplate-to-testtemplatelist {
    position: absolute;
    top: 80%;
    right: 45%;
}

.testtemplate-test-parameters {
    position: absolute;
    top: 20%;
    left: 10%;
    border-style: solid;
}

.testtemplate-questionlist {
    position: absolute;
    top: 40%;
    left: 35%;
    border-style: solid;
}

.testtemplate-item-parameters {
    position: absolute;
    top: 20%;
    left: 50%;
    border-style: solid;
}

.testtemplate-negative-points {
    position: absolute;
    top: 50%;
    left: 10%;
    border-style: solid;
}

/*ItemTemplate.cshtml*/

.itemtemplate-to-testtemplate {
    position: absolute;
    top: 80%;
    right: 45%;
}

.itemtemplate-item-parameters {
    position: absolute;
    top: 20%;
    left: 10%;
    border-style: solid;
}

.itemtemplate-subitem-list {
    position: absolute;
    top: 10%;
    left: 30%;
    border-style: solid;
}

.itemtemplate-selected-subitem {
    position: absolute;
    top: 30%;
    left: 30%;
    border-style: solid;
    max-width: 1000px;
}

.subitem-selection {
    max-width: 1000px;
}

.itemtemplate-points {
    position: absolute;
    top: 60%;
    left: 10%;
    border-style: solid;
    max-width: 350px;
}

/*ManageSolvedTestList.cshtml*/
.managesolvedtestlist-to-teachermenu {
    position: absolute;
    top: 80%;
    right: 45%;
}

.managesolvedtestlist-table {
    position: absolute;
    top: 30%;
    right: 45%;
    border-style: solid;
}

.managesolvedtestlist-student-details {
    position: absolute;
    top: 30%;
    left: 10%;
    border-style: solid;
}

/*ManageSolvedTest.cshtml*/
.managesolvedtest-to-managesolvedtestlist {
    position: absolute;
    top: 80%;
    right: 45%;
}

.managesolvedtest-test-parameters {
    position: absolute;
    top: 20%;
    left: 10%;
    border-style: solid;
}

.managesolvedtest-questionlist {
    position: absolute;
    top: 40%;
    left: 35%;
    border-style: solid;
}

.managesolvedtest-item-parameters {
    position: absolute;
    top: 20%;
    left: 50%;
    border-style: solid;
}

.managesolvedtest-result-parameters {
    position: absolute;
    top: 20%;
    left: 80%;
    border-style: solid;
}

/*ManageSolvedItem.cshtml*/
.managesolveditem-to-managesolvedtest {
    position: absolute;
    top: 80%;
    right: 45%;
}

.managesolveditem-item-parameters {
    position: absolute;
    top: 20%;
    left: 10%;
    border-style: solid;
}

.managesolveditem-subitem-list {
    position: absolute;
    top: 10%;
    left: 30%;
    border-style: solid;
}

.managesolveditem-selected-subitem {
    position: absolute;
    top: 30%;
    left: 30%;
    border-style: solid;
    max-width: 1000px;
}

.managesolveditem-students-answers {
    position: absolute;
    top: 20%;
    left: 70%;
    border-style: solid;
}

.managesolveditem-points {
    position: absolute;
    top: 60%;
    left: 70%;
    border-style: solid;
}