html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    left: 50%;
    bottom: 20%;
}

table, th, td {
    border: 1px solid;
}

select {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

select option {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

img {
    max-width: 300px;
    max-height: 300px;
}

#backBtn {
    position: absolute;
    left: 10%;
    top: 5%;
    border: 1px;
    border-style: solid;
}

#signOutBtn {
    position: absolute;
    left: 90%;
    top: 5%;
    border: 1px;
    border-style: solid;
}

#confirm-action {
    position: absolute;
    left: 45%;
    top: 90%;
    border: 1px;
    border-style: solid;
    display: none;
}

#testing-mode {
    position: absolute;
    left: 3%;
    top: 1%;
    border: 1px;
    border-style: solid;
    visibility: hidden;
}

#testing-mode p::before {
    content: "Testovac\00ED  re\017E im aktivn\00ED .";
}

/*Index.cshtml*/

#google-login {
    position: absolute;
    left: 45%;
    top: 10%;
    border: 1px;
    border-style: solid;
}

#test-login {
    position: absolute;
    left: 40%;
    top: 20%;
    border: 1px;
    border-style: solid;
    visibility: hidden;
}

/*TestTemplateList.cshtml*/

#test-template-list {
    position: absolute;
    left: 30%;
    top: 20%;
}

/*TestTemplate.cshtml*/

#test-template {
    position: absolute;
    left: 20%;
    top: 20%;
}

#question-template-list {
    position: absolute;
    left: 50%;
    top: 20%;
}

#negative-points {
    position: absolute;
    left: 20%;
    top: 50%;
    border: 1px;
    border-style: solid;
}

#minimum-points {
    position: absolute;
    left: 20%;
    top: 70%;
    border: 1px;
    border-style: solid;
}

/*QuestionTemplate.cshtml*/

#question-template {
    position: absolute;
    left: 20%;
    top: 20%;
}

#subquestion-template {
    position: absolute;
    left: 45%;
    top: 30%;
}

#subquestion-selection {
    position: absolute;
    left: 45%;
    top: 15%;
    border: 1px;
    border-style: solid;
    width: 600px;
}

#subquestion-template-points {
    position: absolute;
    left: 20%;
    top: 60%;
    border: 1px;
    border-style: solid;
}

/*ManageSolvedTestList.cshtml*/

#test-result-list {
    position: absolute;
    left: 30%;
    top: 20%;
}

/*ManageSolvedTest.cshtml*/

#test-result {
    position: absolute;
    left: 50%;
    top: 20%;
}

#question-result-list {
    position: absolute;
    left: 20%;
    top: 40%;
}

/*ManageSolvedQuestion.cshtml*/

#subquestion-result {
    position: absolute;
    left: 20%;
    top: 35%;
    border: 1px;
    border-style: solid;
}

#subquestion-result-points {
    position: absolute;
    left: 20%;
    top: 65%;
    border: 1px;
    border-style: solid;
}

/*BrowseSolvedTestList.cshtml*/

#student-information {
    position: absolute;
    left: 60%;
    top: 20%;
    border: 1px;
    border-style: solid;
}

/*UserRegistration.cshtml*/

#user-registration {
    position: absolute;
    left: 50%;
    top: 20%;
    border: 1px;
    border-style: solid;
}

#registration-form {
    position: absolute;
    left: 20%;
    top: 20%;
    border: 1px;
    border-style: solid;
}

/*ManageUserRegistrationList.cshtml*/

#student-registration-list {
    position: absolute;
    left: 30%;
    top: 20%;
    border: 1px;
    border-style: solid;
}

#staff-registration-list {
    position: absolute;
    left: 30%;
    top: 50%;
    border: 1px;
    border-style: solid;
}

#registration-visibility {
    position: absolute;
    left: 15%;
    top: 30%;
    border: 1px;
    border-style: solid;
}

/*ManageUserList.cshtml*/

#student-management {
    position: absolute;
    left: 5%;
    top: 20%;
    border: 1px;
    border-style: solid;
}

#teacher-management {
    position: absolute;
    left: 40%;
    top: 20%;
    border: 1px;
    border-style: solid;
}

#admin-management {
    position: absolute;
    left: 70%;
    top: 20%;
    border: 1px;
    border-style: solid;
}

/*AdminMenu.cshtml*/

#user-information {
    position: absolute;
    left: 60%;
    top: 20%;
    border: 1px;
    border-style: solid;
}

/*ManageNeuralNewtworks.cshtml*/

#neural-network-statistics {
    position: absolute;
    left: 45%;
    top: 30%;
    border: 1px;
    border-style: solid;
}
