@model dynamic

@using DomainModel

@{
    ViewData["Title"] = "Vytvoření předmětu";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
</div>

<div id="main">
    <form method="POST" class="panel panel-medium">
        <div class="panel-content"><label for="abbreviation">Zkratka předmětu:</label></div>
        <div class="panel-content"><input type="text" required id="abbreviation" name="Abbreviation"></div>
        <div class="panel-content"><label for="name">Jméno předmětu:</label></div>
        <div class="panel-content"><input type="text" required id="name" name="Name"></div>
        
        <div class="panel-sub-title panel-content">Seznam studentů</div>
        <table id="unenrolled-students-table" class="panel-table">
            <tr>
                <th>Jméno studenta</th>
                <th>Login studenta</th>
                <th>Přidat</th>
            </tr>
            @{
                foreach (Student item in Model.Students)
                {
                    string fullName = item.FullName();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => fullName)</td>
                        <td><input type="text" name="unenrolledStudentLogin[]" value="@item.Login" readonly></td>
                        <td><input type="checkbox"></td>
                    </tr>
                }
            }
        </table>
        <div class="panel-content"><button type="button" onclick="addStudentsToSubject()">Zapsat studenty</button></div>
        
        <div class="panel-sub-title panel-content">Seznam studentů zapsaných do předmětu</div>
        <table id="enrolled-students-table" class="panel-table">
            <tr>
                <th>Jméno studenta</th>
                <th>Login studenta</th>
                <th>Odebrat</th>
            </tr>
        </table>
        <div class="panel-content"><button type="button" onclick="removeStudentsFromSubject()">Odebrat studenty</button></div>
        <div class="panel-content"><input class="button" title="Uložit" type="submit" value="Uložit"></div>
    </form>
</div>

<a id="backBtn" class="button" asp-action="ManageSubjects">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>
