@model DomainModel.GlobalSettings

@using Common

@{
    ViewData["Title"] = "Globální nastavení";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <form method="POST" id="testing-mode-settings" class="panel panel-medium">
        <div class="panel-title panel-content">Testovací režim</div>
        <div class="panel-content">
            <input type="radio" id="testingModeOff" name="testingMode" value="testingModeOff"><label for="testingModeOff">Vypnuto</label>
        </div>
        <div class="panel-content">
            <input type="radio" id="testingModeOn" name="testingMode" value="testingModeOn"><label for="testingModeOn">Zapnuto</label>
        </div>
        <div class="panel-content">
            <input type="hidden" value="setTestingMode" name="action">
            <input type="submit" value="Uložit">
        </div>
    </form>

    <div class="panel panel-medium">
        <div class="panel-content">
            <form method="POST">
                <input type="hidden" value="addNUnitData" name="action">
                <input type="submit" value="Přidat NUnit data">
            </form>
            <br>
            <form method="POST">
                <input type="hidden" value="deleteNUnitData" name="action">
                <input type="submit" value="Odebrat NUnit data">
            </form>
        </div>
    </div>
</div>

<a id="backBtn" class="button" asp-action="MainAdminMenu">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>

@{
    if(Model.TestingMode)
    {
        <script>
            document.getElementById("testingModeOn").checked = true;
        </script>
    }
    else
    {
        <script>
            document.getElementById("testingModeOff").checked = true;
        </script>
    }
}