@model DomainModel.User

@{
    ViewData["Title"] = "Hlavní administrátor";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
</div>

<div id="main">
    <div class="panel panel-medium">
        <div class="panel-content">
            <a asp-action="TestTemplateList" id="test-template-list-link" class="button">Správa zadání testů</a>
        </div>
        <div class="panel-content">
            <a asp-action="ManageSolvedTestList" id="manage-solved-tests" class="button">Správa vyřešených testů</a>
        </div>
        <div class="panel-content">
            <a asp-action="ManageSubjects" class="button">Správa předmětů</a>
        </div>
        <div class="panel-content">
            <a asp-action="ManageUserList" id="manage-user-list" class="button">Správa uživatelů</a>
        </div>
        <div class="panel-content">
            <a asp-action="ManageUserRegistrationList" class="button">Správa registrací</a>
        </div>
        <div class="panel-content">
            <a asp-action="ManageArtificialIntelligence" class="button">Správa nástrojů umělé inteligence</a>
        </div>
        <div class="panel-content">
            <a asp-action="GlobalSettings" class="button">Globální nastavení</a>
        </div>
    </div>

    <div class="panel panel-medium">
        <table id="user-information" class="panel-table">
            <tr>
                <th>Jméno</th>
                <td>@Model.FullName()</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>@Model.Login</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
        </table>
    </div>
</div>

<a id="backBtn" class="button" asp-action="Index">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>
