@model IEnumerable<DomainModel.TestTemplate>

@{
    ViewData["Title"] = "Dostupné testy k vyřešení";
}

<div class="text-center">
    <h1>Dostupné testy k vyřešení</h1>

    <div id="test-template-list">
        @{
            if(Model.Count() > 0)
            {
                <table>
                    <tr>
                        <th>Nadpis</th>
                        <th>Předmět</th>
                        <th>Učitel</th>
                        <th>Otevřít</th>
                    </tr>
                    @{
                        foreach (var item in Model)
                        {
                            string subjectString = item.Subject.SubjectString();
                            string teacherFullName = item.Owner.FullName();
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => subjectString)</td>
                                <td>@teacherFullName</td>
                                <td>
                                    <a class="button" title="Správa testu"
                                       asp-area=""
                                       asp-controller="Home"
                                       asp-action="StudentAvailableTest"
                                       asp-route-testTemplateId="@item.TestTemplateId">Otevřít test</a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <p>Nejsou dostupné žádné testy k vyřešení.</p>
            }
        }

    </div>
</div>

<div id="backBtn"><a asp-action="StudentMenu">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>