<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="description"
          content="Aplikace sloužící k přidání dodatečných funkcionalit (řešení nedostatků) do nástroje TAO Core patřícího do platformy TAO.
Aplikace umožňuje import testů a uživatelů z TAO Core a práci s importovanými daty.
Aplikace byla vytvořena za využití platformy ASP.NET Core s .NET 6 pomocí programovacího jazyka C#." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#111111" />
    <title>@Model.Title - @Model.Solution</title>
    <link rel="stylesheet" href="~/css/Material-Icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
