@{
    ViewData["Title"] = "Vytvoření zadání testu";
}

<div class="text-center">
    <h1>Vytvoření zadání testu</h1>

    <form method="POST">
        <label for="title">Nadpis:</label>
        <input type="text" required id="title" name="title"><br>
        <label for="subject">Předmět:</label> TODO<br>
        <input class="button" title="Uložit" type="submit" value="Uložit">
    </form>
</div>