@model DomainModel.GlobalSettings

@using Common

@{
    ViewData["Title"] = "Globální nastavení";
}

<div class="text-center">
    <h1>Globální nastavení</h1>

    <p>@ViewBag.Message</p>

    <form method="POST">
        <p>Testovací režim:</p>
        <input type="radio" id="testingModeOff" name="testingMode" value="testingModeOff">
        <label for="testingModeOff">Vypnuto</label><br>
        <input type="radio" id="testingModeOn" name="testingMode" value="testingModeOn">
        <label for="testingModeOn">Zapnuto</label><br><br>
        <p>Používaná platforma:</p>
        <input type="radio" id="windows" name="selectedPlatform" value="windows">
        <label for="windows">Windows</label><br>
        <input type="radio" id="ubuntu" name="selectedPlatform" value="ubuntu">
        <label for="ubuntu">Ubuntu</label><br>
        <input type="submit" value="Uložit">
    </form>
    
</div>

<div id="backBtn"><a asp-action="MainAdminMenu">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>

@{
    if(Model.TestingMode)
    {
        <script>
            document.getElementById("testingModeOn").checked = true;
        </script>
    }
    else
    {
        <script>
            document.getElementById("testingModeOff").checked = true;
        </script>
    }

    if (Model.SelectedPlatform == Common.Config.Platform.Windows)
    {
        <script>
            document.getElementById("windows").checked = true;
        </script>
    }
    else
    {
        <script>
            document.getElementById("ubuntu").checked = true;
        </script>
    }
}