@model DomainModel.GlobalSettings

@{
    ViewData["Title"] = "Globální nastavení";
}

<div class="text-center">
    <h1>Globální nastavení</h1>

    <p>@ViewBag.Message</p>

    <form method="POST">
        <p>Testovací režim:</p>
        <input type="radio" id="testingModeOff" name="testingMode" value="testingModeOff">
        <label for="testingModeOff">Vypnuto</label><br>
        <input type="radio" id="testingModeOn" name="testingMode" value="testingModeOn">
        <label for="testingModeOn">Zapnuto</label><br>
        <input type="submit" value="Uložit">
    </form>
    
</div>

<div id="backBtn"><a asp-action="MainAdminMenu">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>

@{
    if(Model.TestingMode)
    {
        <script>
            document.getElementById("testingModeOn").checked = true;
        </script>
    }
    else
    {
        <script>
            document.getElementById("testingModeOff").checked = true;
        </script>
    }
}