@{
    ViewData["Title"] = "Globální nastavení";
}

<div class="text-center">
    <h1>Globální nastavení</h1>
    Ve výstavbě
</div>

<div id="backBtn"><a asp-action="MainAdminMenu">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>