@model ViewLayer.Models.PageModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="text-center">
    <h1>@Model.Title</h1>
    <br>
    <a asp-action="TeacherMenu">Jsem učitel</a>
    <br>
    <a asp-action="StudentMenu">Jsem student</a>
    <!-- <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
