@{
    ViewData["Title"] = "Home Page";
}

<div class="teacher-selection"><a asp-area="" asp-controller="Home" asp-action="TeacherMenu">Jsem učitel</a></div>
<div class="student-selection"><a asp-area="" asp-controller="Home" asp-action="StudentMenu">Jsem student</a></div>
<div class="text-center">
    <h1 class="display-4">Hlavní menu</h1>
</div>
