@model DomainModel.User

@{
    ViewData["Title"] = "Hlavní administrátor";
}

<div class="text-center">
    <h1>Hlavní administrátor</h1>
    <br>
    <a asp-action="TestTemplateList">Správa zadání testů</a>
    <br>
    <a asp-action="ManageSolvedTestList">Správa vyřešených testů</a>
    <br>
    <a asp-action="ManageUserList">Správa uživatelů</a>
    <br>
    <a asp-action="ManageUserRegistrationList">Správa registrací</a>
    <br>
    <a asp-action="ManageNeuralNetworks">Správa neuronových sítí</a>
    <br>
    <a asp-action="GlobalSettings">Globální nastavení</a>

    <div id="user-information">
        <table>
            <tr>
                <th>Jméno</th>
                <td>@Model.FullName()</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>@Model.Login</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
        </table>
    </div>
</div>

<div id="backBtn"><a asp-action="Index">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>
