@model ViewLayer.Models.PageModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="text-center">
    <h1>@Model.Title</h1>
</div>

<footer>
    <div class="container">
        <a asp-action="Index">Zpět</a>
    </div>
</footer>