@{
    ViewData["Title"] = "Teacher menu";
}
<h1>@ViewData["Title"]</h1>
<div class="teacher-to-index"><a asp-area="" asp-controller="Home" asp-action="Index">Návrat do hlavního menu</a></div>
<div class="teacher-to-testtemplatelist"><a asp-area="" asp-controller="Home" asp-action="TestTemplateList">Správa zadání testů</a></div>
<div class="teacher-to-managesolvedtestlist"><a asp-area="" asp-controller="Home" asp-action="ManageSolvedTestList">Správa vyřešených testů</a></div>
