@model ViewLayer.Models.PageModel

<header class="header">
    <div class="header-content content-width">
        <h1 class="header-center header-title title" title="@Model.Title">@Model.Title</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons g_id_signout" id="signOutBtn" title="Odhlásit se" asp-area="" asp-controller="Account" asp-action="SignOut">logout</a>
        </div>
    </div>
</header>
<main class="main content-width">
    <section class="section justify-content-center">
        <article class="article">
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <td align="center">
                            <a class="button" id="testTemplateListBtn" title="Správa zadání testů" asp-area="" asp-controller="Home" asp-action="TestTemplateList">Správa zadání testů</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <a class="button" id="manageSolvedTestListBtn" title="Správa vyřešených testů" asp-area="" asp-controller="Home" asp-action="ManageSolvedTestList">Správa vyřešených testů</a>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</main>