@{
    ViewData["Title"] = "Teacher menu";
}
<h1>@ViewData["Title"]</h1>
<div class="teacher-to-index"><a asp-area="" asp-controller="Home" asp-action="Index">Návrat do hlavního menu</a></div>
<div class="teacher-to-testlist"><a asp-area="" asp-controller="Home" asp-action="TestList">Správa zadání testů</a></div>
<div class="teacher-to-solvedtestlist"><a asp-area="" asp-controller="Home" asp-action="SolvedTestList">Správa vyřešených testů</a></div>
