@using Common;

<!DOCTYPE html>
<html lang=cs>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduEnhancer</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EduEnhancer.styles.css" asp-append-version="true" />
    <base href="~/" />
    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div id="container">
        <div id="testing-mode">Testovací režim aktivní.</div>
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@{
    if(Config.TestingMode)
    {
        <script>
            document.getElementById("testing-mode").style.display = 'block';
        </script>
    }
}