@model ViewLayer.Models.ErrorViewModel

@using Common

@{
    ViewData["Title"] = "Chyba";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <div class="panel panel-medium">
        <div class="panel-content">Chyba: při zpracování požadavku došlo k chybě.</div>
        <div class="panel-content">ID požadavku: @Model.RequestId</div>
    </div>
</div>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>
