:root {
    --body-fg-color: #023;
    --body-bg-color: #FFFAF0;
    --header-fg-color: #023;
    --header-bg-color: #CEF;
    --header-border-color: #ACD8;
    --header-notice-fg-color: #FEC;
    --header-notice-bg-color: #023;
    --panel-fg-color: #000;
    --panel-bg-color: #FFF;
    --panel-border-color: #DFDAD080;
    --input-fg-color: #000;
    --input-bg-color: #FFF;
    --input-border-color: #AAA8;
    --input-disabled-fg-color: #888;
    --input-disabled-bg-color: #EEE;
    --input-disabled-border-color: #CCC8;
    --input-hover-fg-color: #000;
    --input-hover-bg-color: #FFF;
    --input-hover-border-color: #5558;
    --button-fg-color: var(--header-notice-fg-color);
    --button-bg-color: var(--header-notice-bg-color);
    --button-border-color: #2468;
    --button-disabled-fg-color: var(--input-disabled-fg-color);
    --button-disabled-bg-color: #CCC;
    --button-disabled-border-color: #AAA8;
    --button-hover-fg-color: #FEC;
    --button-hover-bg-color: #046;
    --button-hover-border-color: #0248;
    --testing-mode-fg-color: #023;
    --testing-mode-bg-color: #CEF;
    --testing-mode-border-color: #ACD8;
}

html, body {
    color: var(--body-fg-color);
    font: 16px system-ui;
    background: var(--body-bg-color);
    margin: 0;
}

body {
    margin-bottom: 3.5rem;
}

#container {
    color: inherit;
    background: inherit;
}

#header {
    text-align: center;
}

#header-title {
    color: var(--header-fg-color);
    font-size: 2rem;
    background: var(--header-bg-color);
    border-bottom: 2px solid var(--header-border-color);
    line-height: 4.5rem;
    padding: 0 1rem;
}

#header-notice {
    color: var(--header-notice-fg-color);
    font-size: 0.8rem;
    background: var(--header-notice-bg-color);
    line-height: 2.5rem;
    padding: 0 1rem;
}

#main {
    max-width: 128ch;
    margin: 0 auto;
}

.panel {
    color: var(--panel-fg-color);
    background: var(--panel-bg-color);
    border: 2px solid var(--panel-border-color);
    border-radius: 1rem;
    padding-block: 1rem;
    margin: 0.5rem auto 0;
    display: grid;
    overflow: hidden;
}

.panel-medium {
    max-width: 64ch;
}

.panel-large {
    max-width: 96ch;
}

.panel-max {
    max-width: 128ch;
}

.panel-content {
    padding: 0.25rem 1rem;
    text-align: center;
}

.panel-title {
    font-size: 1.75rem;
}

.panel-sub-title {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.panel-table {
    width: 100%;
}

.panel-table th,
.panel-table td {
    padding: 0.25rem;
    text-align: left;
    vertical-align: top;
}

.panel-table tr > th:first-of-type,
.panel-table tr > td:first-of-type {
    padding-left: 1rem;
}

.panel-table tr > th:last-of-type,
.panel-table tr > td:last-of-type {
    padding-right: 1rem;
}

label,
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="range"]),
textarea,
select,
button,
input[type="checkbox"],
input[type="radio"],
input[type="submit"],
input[type="button"],
.button {
    font-size: 0.8rem;
    border-radius: 0.25rem;
    line-height: 2.5rem;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

label,
button,
input[type="checkbox"],
input[type="radio"],
input[type="submit"],
input[type="button"],
.button {
    line-height: 1.5rem;
    min-height: 1.5rem;
    padding: 0.5rem;
}

label {
    padding-block: 0.25rem;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="range"]),
textarea,
select {
    color: var(--input-fg-color);
    background: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    padding: 0 0.25rem;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="range"])[disabled],
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="range"])[readonly],
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="range"])[disabled]:-webkit-autofill,
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="range"])[readonly]:-webkit-autofill,
textarea[disabled],
textarea[readonly],
textarea[disabled]:-webkit-autofill,
textarea[readonly]:-webkit-autofill,
select[disabled],
select[readonly],
select[disabled]:-webkit-autofill,
select[readonly]:-webkit-autofill {
    color: var(--input-disabled-fg-color);
    background: var(--input-disabled-bg-color);
    border-color: var(--input-disabled-border-color);
    -webkit-text-fill-color: var(--input-disabled-fg-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--input-disabled-bg-color) inset;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="range"]):not([disabled]):not([readonly]):hover,
textarea:not([disabled]):not([readonly]):hover,
select:not([disabled]):not([readonly]):hover {
    color: var(--input-hover-fg-color);
    background: var(--input-hover-bg-color);
    border-color: var(--input-hover-border-color);
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="range"]),
select {
    height: 2.5rem;
}

textarea {
    width: 100%;
    resize: vertical;
}

.panel-medium input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="range"]),
.panel-medium select {
    min-width: 32ch;
}

.panel-large input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="range"]),
.panel-large select {
    min-width: 48ch;
}

.panel-max input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="range"]),
.panel-max select {
    min-width: 64ch;
}

button,
input[type="submit"],
input[type="button"],
.button {
    color: var(--button-fg-color);
    background: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
    text-decoration: none;
}

button[disabled],
button[readonly],
input[type="submit"][disabled],
input[type="submit"][readonly],
input[type="button"][disabled],
input[type="button"][readonly],
.button[disabled],
.button[readonly] {
    color: var(--button-disabled-fg-color);
    background: var(--button-disabled-bg-color);
    border-color: var(--button-disabled-border-color);
}

button:not([disabled]):not([readonly]):hover,
input[type="checkbox"]:not([disabled]):not([readonly]):hover,
input[type="radio"]:not([disabled]):not([readonly]):hover,
input[type="submit"]:not([disabled]):not([readonly]):hover,
input[type="button"]:not([disabled]):not([readonly]):hover,
.button:not([disabled]):not([readonly]):hover{
    color: var(--button-hover-fg-color);
    background: var(--button-hover-bg-color);
    border-color: var(--button-hover-border-color);
    cursor: pointer;
}

.navigation-element:hover {
    background-color: var(--button-hover-bg-color) !important;
    cursor: pointer;
}

output {
    display: block;
    text-align: center;
}

#testing-mode {
    z-index: 1;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    color: var(--testing-mode-fg-color);
    font-size: 0.8rem;
    background: var(--testing-mode-bg-color);
    border: 2px solid var(--testing-mode-border-color);
    border-radius: 0.25rem;
    line-height: 2.25rem;
    padding: 0 0.5rem;
    display: none;
}

#backBtn, #signOutBtn {
    top: 1rem;
}

#backBtn {
    position: absolute;
    left: 1rem;
}

#signOutBtn {
    position: absolute;
    right: 1rem;
}

img {
    width: 60ch;
    height: 32rem;
    margin: 0 auto;
    display: block;
}

#confirm-action {
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 50%;
    display: none;
    transform: translate(-50%,-50%);
}

#test-login {
    display: none;
}

.g_id_signin {
    margin: 0 auto;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--header-bg-color);
  border-radius: 0.25rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: var(--button-bg-color);
  border-radius: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--button-bg-color);
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--header-bg-color);
  border-radius: 0.25rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: var(--button-bg-color);
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid var(--button-bg-color);
  outline-offset: 0.125rem;
}

/* disabled */
input[type="range"][disabled]::-webkit-slider-runnable-track,
input[type="range"][readonly]::-webkit-slider-runnable-track,
input[type="range"][disabled]::-moz-range-track,
input[type="range"][readonly]::-moz-range-track {
    background-color: var(--input-disabled-bg-color);
}

input[type="range"][disabled]::-webkit-slider-thumb,
input[type="range"][readonly]::-webkit-slider-thumb,
input[type="range"][disabled]::-moz-range-thumb,
input[type="range"][readonly]::-moz-range-thumb {
    background-color: var(--button-disabled-bg-color);
}

input[type="range"][disabled]:focus::-webkit-slider-thumb,
input[type="range"][readonly]:focus::-webkit-slider-thumb,
input[type="range"][disabled]:focus::-moz-range-thumb,
input[type="range"][readonly]:focus::-moz-range-thumb {
    outline-color: var(--button-disabled-bg-color);
}

/* modal image*/

#image {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#image:hover {
    opacity: 0.7;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width:auto;
    height:auto;
}

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}