@{
    ViewData["Title"] = "Správa vyřešených testů";
}

<div class="text-center">
    <h1>Správa vyřešených testů</h1>
</div>

<footer>
    <div class="container">
        <a asp-action="TeacherMenu">Zpět</a>
    </div>
</footer>