@{
    ViewData["Title"] = "Učitel";
}

<div class="text-center">
    <h1>Učitel</h1>
    <br>
    <a asp-action="TestTemplateList">Správa zadání testů</a>
    <br>
    <a asp-action="ManageSolvedTestList">Správa vyřešených testů</a>
</div>

<footer>
    <div class="container">
        <a asp-action="Index">Zpět</a>
    </div>
</footer>
